* {
    color: #707070;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    background-image:  url(../../images/fondo2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .navbar{
    width: 100%;
    height: 50px;
    background-color: transparent;
  }
  .navbar img{
      position: relative;
      margin-left: 30px;
      height: 90px;
      padding: 10px;
  }

  .title{
      position: relative;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100px;
      margin: 0;
  }
  .title h1{
      font-weight:600;
      color: #00A377;
      margin: 0;
      padding-top: 20px ;
      font-size: 370%;
      
  }
  
  .container{
      margin: auto;
      display: flex;
      width: 70%;
      height: 450px;
  }

  .container-item{
   background-color: rgba(255, 255, 255, 0.5);
   padding-top: 40px;
   padding-bottom: 40px;
   margin: 30px 60px 30px 60px;
   width: 45%;
   height: 360px;   
   border-radius: 50px ;
   
  }
  .container-item:hover{
    background-color: rgba(255, 255, 255, 0.7);;
    cursor: pointer;
  }

   .container-item::after{
       opacity: 1;
   }
   /* .text{
     margin-top: 6.4%;
   } */
  .container-item img{
      width: 50%;
      height: 230px;
      display: block;
      margin: auto;   
  }

  .container-item p{
      padding-top: 10px;
      text-align: center;
      font-size: 30px;
  }

  .submit{
    text-align: center;
      /* margin: auto;   */
  }

  .submit input {
    border: none;
    margin-top: 1%;
    width: 10%;
    height: 47px;
    background-color:#00A098;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    min-width: 147px;
  }
  
  .submit input:focus {
    outline: none;
    border: 0;
  }

  .submit input:hover {
    cursor: pointer;
    background-color: #01837c;
  }
  
  .submit input:active {
    color: burlywood;
  }

  @media only screen and (max-width: 800px) {
    
    .title{
      
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100px;
      margin: 0;
  }

  .navbar{
    margin-top: -50px;
    overflow: hidden;
  }

  .title h1{
      font-weight:600;
      color: #00A377;
      margin: 0;
      padding-top: 50px ;
      font-size: 180%;
      font-weight: 600;
      
  }

  .container{    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
 
}



.container-item img{
  margin: auto;
  
}

.container-item{
 width: 70%;
 background-color: rgba(255, 255, 255, 0.5);
 padding-top: 40px;
 padding-bottom: 40px;
 border-radius: 50px ;
 height:250px;
 margin: auto;
}
.submit input:focus {
  outline: none;
  border: 0;
}

.submit input:active {
  color: burlywood;
}
.submit{
  text-align: center;
    /* margin: auto;   */
}

.container-item img{
  width: 150px;
  height: 160px;
  display: block;
  margin: auto;   
}

.container-item p{
  padding-top: 10px;
  text-align: center;
  font-size: 130%;
}


    
}
